//@import 'base'

html, body
    margin: 0

header
    margin: 0
    //background-image: url()
    height: 100vh
    background-size: cover
    
    //margin-bottom: 50px
    
    // keeps stuff centered in viewport
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center

